@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("SuperUser"))
            {
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "User" ? "active" : "")"
                    asp-controller="User" asp-action="Index">Users</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "MembershipPlan" ? "active" : "")"
                    asp-controller="MembershipPlan" asp-action="Index">Membership Plans</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "ClassType" ? "active" : "")"
                    asp-controller="ClassType" asp-action="Index">Class Types</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "ScheduledClass" ? "active" : "")"
                    asp-controller="ScheduledClass" asp-action="Index">Scheduled Class</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Workout" ? "active" : "")"
                    asp-controller="Workout" asp-action="Index"> Workout</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Notification" ? "active" : "")"
                    asp-controller="Notification" asp-action="Index"> Notification</a>
                </li>
            }

            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
</div>