@model IEnumerable<Membership>
@{
    ViewData["Title"] = "Memberships";
}

@if (Model.Count() > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Title
                </th>

                <th>
                    Member
                </th>

                <th>
                    Start Date
                </th>

                <th>
                    End Date
                </th>

                <th>
                    Payment Status
                </th>

                <th>
                    Is Active
                </th>

                <th>
                    Payment Amount
                </th>

                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var membership in Model)
            {
                <tr>
                    <td>
                        @membership.MembershipPlan.Title
                    </td>

                    <td>
                        @membership.Member.FirstName @membership.Member.LastName
                    </td>

                    <td>
                        @($"{membership.StartDate.ToShortDateString()} {membership.StartDate.ToShortTimeString()}")
                    </td>

                    <td>
                        @($"{membership.EndDate?.ToShortDateString()} {membership.EndDate?.ToShortTimeString()}")
                    </td>

                    <td>
                        @(Enum.GetName(typeof(PaymentStatus), membership.PaymentStatus))
                    </td>

                    <td>
                        <p>@(membership.IsActive == true ? "Yes" : "No") </p>
                    </td>

                    <td>
                        @(string.Format("{0:N2}", membership.LastPaymentAmount))
                    </td>

                    <td>
                        @if (membership.IsActive)
                        {
                            <button data-membershipid="@membership.MembershipId" class="btn btn-danger cancel-membership"><i class="fa fa-ban" aria-hidden="true"></i> Cancel Membership</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        There are no memberships to display. Please try again after some time.
    </div>
}

<partial name="_FeedbackModal" />

@section Scripts {
    <script src="~/js/membership.js"></script>
}