@model IEnumerable<MembershipPlan>
@{
    ViewData["Title"] = "Membership Plans";
    var pageSize = 0;

    string statusSearch = ViewData["StatusSearch"]?.ToString() ?? "0";
    string typeSearch = ViewData["TypeSearch"]?.ToString() ?? "0";

    if (ViewData["PageSize"] != null && ViewData["RecordCount"] != null)
    {
        pageSize = int.Parse(ViewData["PageSize"].ToString());
    }

    List<SelectListItem> StatusList = new List<SelectListItem>
    {
        new SelectListItem("Active", "1"),
        new SelectListItem("Not Active", "2")
    };

    List<SelectListItem> TypeList = Html.GetEnumSelectList<MembershipType>().ToList();
}

<form id="filterForm" asp-action="Index" method="get" class="mb-3">
    <div class="card bg-light">
        <div class="card-body">
            <div role="search">
                <div class="row">

                    <div class="col-md-3 mb-4">
                        <label for="statusSearch">Status</label>
                        <select class="form-control" id="statusSearch" name="statusSearch">
                            <option value="0">Display All</option>
                            @foreach (var s in StatusList)
                            {
                                if (s.Value == statusSearch)
                                {
                                    <option selected value="@s.Value">@s.Text</option>
                                }
                                else
                                {
                                    <option value="@s.Value">@s.Text</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-md-3 mb-4">
                        <label for="typeSearch">Type</label>
                        <select class="form-control" id="typeSearch" name="typeSearch">
                            <option value="0">Display All</option>
                            @foreach (var t in TypeList)
                            {
                                if (t.Value == typeSearch)
                                {
                                    <option selected value="@t.Value">@t.Text</option>
                                }
                                else
                                {
                                    <option value="@t.Value">@t.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-4 mb-md-0">
                        <label for="query">Search</label>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" id="q" name="q" placeholder="Search" value="@ViewData["CurrentFilter"]" id="query">
                            <div class="input-group-lg">
                                <button type="submit" class="btn btn-green"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <input type="hidden" name="page" value="1" />
                        <input type="hidden" name="pageSize" value="@pageSize" />
                    </div>
                </div>

                <div class="float-right">
                    <a class="btn btn-secondary" asp-action="Create"><i class="fas fa-circle-plus" aria-hidden="true"></i> Create Membership Plan</a>
                    <button id="clear-filters" class="btn btn-secondary collapse">
                        <i class="fa fa-times" aria-hidden="true"></i> Clear Filters
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<br>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["ErrorMessage"]
    </div>
    <br />
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Title
                </th>

                <th>
                    Price
                </th>

                <th>
                    Description
                </th>

                <th>
                    Active
                </th>

                <th>
                    Type
                </th>

                <th>
                    Number of Classes
                </th>

                <th>
                    Number of Months
                </th>

                <th>

                </th>

            </tr>
        </thead>

        <tbody id="property-details-table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>

                    <td>
                        @(string.Format("{0:N2}", item.Price))
                    </td>

                    <td>
                        @item.Description
                    </td>

                    <td>
                        @(item.IsActive ? "Yes" : "No")
                    </td>

                    <td>
                        @(Enum.GetName(typeof(MembershipType), item.Type))
                    </td>

                    <td>
                        @item.NumberOfClasses
                    </td>

                    <td>
                        @item.NumberOfMonths
                    </td>

                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdown-@item.MembershipPlanId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdown-@item.MembershipPlanId">
                                <a class="dropdown-item" asp-action="Edit" asp-route-membershipPlanId="@item.MembershipPlanId"><i class="fas fa-edit" aria-hidden="true"></i> Edit</a>
                                
                                <button data-id="@item.MembershipPlanId" class="dropdown-item toggle-membership-plan">
                                    <i class="fa @(item.IsActive ? "fa-toggle-off" : "fa-toggle-on")" aria-hidden="true"></i>
                                    @(item.IsActive ? "Deactivate Membership Plan" : "Reactivate Membership Plan")
                                </button>

                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Pagination" />
}
else
{
    <div class="alert alert-info mt-4 text-center">
        <h4 class="alert-heading">No Membership Plans Available</h4>
        <p>There are no membership plans matching your search criteria. Please try adjusting your filters or search terms.</p>
    </div>
}

<partial name="_FeedbackModal" />

@section Scripts {
    <script src="~/js/membershipPlanManagement.js"></script>
}