@model EditAccountViewModel
@{
    ViewData["Title"] = "Edit Account";
    var today = DateTime.Now.ToString("yyyy-MM-dd");
}

<div class="row">
    <div class="col-md-12">
        <a asp-action="Index" asp-controller="Profile" class="btn btn-sm btn-secondary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back</a>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-5">
        <section>
            <form id="editForm" method="post">
                <div class="card bg-light">
                    <div class="card-body">
                        <h3>Edit account</h3>
                        <hr />

                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <input asp-for="@Model.ApplicationUserId" type="hidden" />

                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" id="first-name" class="form-control" aria-required="true" />
                            <label asp-for="FirstName" class="form-label">First Name <span class="required">*</span></label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="LastName" id="last-name" class="form-control" aria-required="true" />
                            <label asp-for="LastName" class="form-label">Last Name <span class="required">*</span></label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="date" asp-for="DateOfBirth" id="date-of-birth" class="form-control" aria-required="true" max="@today" />
                            <label asp-for="DateOfBirth" class="form-label">Date Of Birth <span class="required">*</span></label>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-check-label">Allow other members to see name?</label>
                            <div>
                                <input type="radio" id="DisplayNameVisibilityYes" name="DisplayNameVisibility" value="true"
                                @(Model.DisplayNameVisibility == true ? "checked" : "") />
                                <label for="DisplayNameVisibilityYes">Yes</label>
                            </div>

                            <div>
                                <input type="radio" id="DisplayNameVisibilityNo" name="DisplayNameVisibility" value="false"
                                @(Model.DisplayNameVisibility == false ? "checked" : "") />
                                <label for="DisplayNameVisibilityNo">No</label>

                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-check-label">Allow other members to see picture?</label>
                            <div>
                                <input type="radio" id="ProfilePictureVisibilityYes" name="ProfilePictureVisibility" value="true"
                                @(Model.ProfilePictureVisibility == true ? "checked" : "") />
                                <label for="ProfilePictureVisibilityYes">Yes</label>
                            </div>

                            <div>
                                <input type="radio" id="ProfilePictureVisibilityNo" name="ProfilePictureVisibility" value="false"
                                @(Model.ProfilePictureVisibility == false ? "checked" : "") />
                                <label for="ProfilePictureVisibilityNo">No</label>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Email" id="email" class="form-control" autocomplete="username" aria-required="true" readonly />
                            <label asp-for="Email" class="form-label">Email <span class="required">*</span></label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-1">
                            <button id="edit-submit" type="submit" class="w-100 btn btn-lg btn-green" disabled><i class="fa fa-save" aria-hidden="true"></i> Update Account</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/editAccount.js"></script>
}