@model DailyWorkoutViewModel
@{
    ViewData["Title"] = "Workouts";
}

<div class="container">
    <div class="row my-3">
        <div class="col text-start">
            <a asp-action="Index" asp-route-date="@Model.SelectedDate.AddDays(-1).ToString("yyyy-MM-dd")" class="btn btn-secondary">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>
            </a>
        </div>

        <div class="col text-center">
            <h3>@Model.SelectedDate.ToString("dddd, MMMM d")</h3>
        </div>

        <div class="col text-end">
            <a asp-action="Index" asp-route-date="@Model.SelectedDate.AddDays(1).ToString("yyyy-MM-dd")" class="btn btn-secondary">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    @if (Model.Workouts.Any())
    {
        <ul class="nav nav-tabs" id="workoutTab" role="tablist">
            @for (var i = 0; i < Model.Workouts.Count; i++)
            {
                var workout = Model.Workouts[i];
                <li class="nav-item" role="presentation">
                    <a class="nav-link @((i == 0) ? "active" : "")" id="@workout.ClassType?.Title-tab" data-bs-toggle="tab" href="#@workout.ClassType?.Title" role="tab" aria-controls="@workout.ClassType?.Title" aria-selected="@(i == 0 ? "true" : "false")">
                        @workout.ClassType?.Title
                    </a>
                </li>
            }
        </ul>

        <div class="tab-content mt-3" id="workoutTabContent">
            @for (var i = 0; i < Model.Workouts.Count; i++)
            {
                var workout = Model.Workouts[i];
                <div class="tab-pane fade @((i == 0) ? "show active" : "")" id="@workout.ClassType?.Title" role="tabpanel" aria-labelledby="@workout.ClassType.Title-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="row my-2">

                                <div class="col text-start">
                                </div>

                                <div class="col text-center">
                                    <h4 class="card-title">@workout.ClassType.Title</h4>
                                </div>

                                <div class="col text-end">

                                </div>
                            </div>

                            @Html.Raw(workout.Description)
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-info mt-4 text-center">
            <h4 class="alert-heading">No Workouts Available</h4>
            <p>There are no workouts scheduled for @Model.SelectedDate.ToShortDateString()</p>
        </div>
    }
</div>