@model IEnumerable<ApplicationUser>
@using System.Security.Claims
@{
    ViewData["Title"] = "Staff";
}

@if (Model.Count() > 0)
{
    <div class="card bg-light mb-3">
        <div class="card-body">
            <div role="search">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <partial name="PropertyDetailsTableSearch" />
                    </div>
                </div>

                <div class="float-right">
                    <button id="add-existing-user" class="btn btn-secondary" data-user-type="Staff"><i class="fa fa-plus" aria-hidden="true"></i> Add Existing User</button>
                    <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/CreateAccount" asp-route-returnController="Staff"><i class="fas fa-user-plus" aria-hidden="true"></i> Create</a>
                </div>
            </div>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>

                <th>
                    Date of Birth
                </th>

                <th>
                    Email
                </th>

                <th>
                    Email Confirmed
                </th>

                <th>
                    Role
                </th>

                <th>
                    
                </th>
            </tr>
        </thead>

        <tbody id="property-details-table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FirstName @item.LastName
                    </td>

                    <td>
                        @item.DateOfBirth.ToShortDateString()
                    </td>

                    <td>
                        @item.Email
                    </td>

                    <td>
                        @(item.EmailConfirmed ? "Yes" : "No")
                    </td>

                    <td>
                        @item.UserRoles
                    </td>

                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdown-@item.Id" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdown-@item.Id">
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/EditAccount" asp-route-applicationUserId="@item.Id" asp-route-returnController="Staff"><i class="fas fa-edit" aria-hidden="true"></i> Edit</a>

                                @if (!item.EmailConfirmed)
                                {
                                    <button data-id="@item.Id" data-role="@item.UserRoles" data-user-type="Staff" class="dropdown-item resend-verification"><i class="fa fa-mail-bulk" aria-hidden="true"></i> Resend Verification</button>
                                }

                                @if (!(item.Id == User.FindFirstValue(ClaimTypes.NameIdentifier)))
                                {
                                    <button data-id="@item.Id" data-role="@item.UserRoles" data-user-type="Staff" class="dropdown-item deactivate-account"><i class="fa fa-ban" aria-hidden="true"></i> Deactivate Account</button>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="alert alert-info" id="no-results" style="display: none;">
        No staff members found. Please adjust your search criteria.
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        There are no staff to display. Please try again after some time.
    </div>

    <div class="float-right">
        <button id="add-existing-user" class="btn btn-secondary" data-user-type="Staff"><i class="fa fa-plus" aria-hidden="true"></i> Add Existing User</button>
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/CreateAccount" asp-route-returnController="Staff"><i class="fa fa-user-plus" aria-hidden="true"></i> Create</a>
    </div>
}

<partial name="_FeedbackModal" />
<partial name="_UserSelectionModal" />

@section Scripts {
    <script src="~/js/propertyDetailsTableSearch.js"></script>
    <script src="~/js/userManagement.js"></script>
}